ngClass is used to bind CSS class to elements in Angular<br>
ngClass can take three kinds of input/variables<br>
1) String<br>
2) Array<br>
3) Objects<br>

Syntax : <br>
<h3> [ngClass]="string|array|Objects"</h3>
<br><br>

String Example<br>
<div [ngClass]="'greenClass'">Hello World. greenClass Applied</div>
<div [ngClass]="'greenClass italicsClass'">Hello World. greenClass and Italics Class Applied</div>
<br><br>

Array Example<br>
<div [ngClass]="styleArray">Hello World. Array Applied.</div>
<br><br>

Object Example<br>
<div [ngClass]="styleObject">Hellow World. Object Style Applied.</div>
<br><br>

Function Example<br>
<div [ngClass]="getGreenClass()"> Hellow World. Functin Returns Green Class</div>

<br><br>
Conditional Style Application<br>
<div [ngClass]="hasError ? 'errorClass' : 'greenClass'"> If hasError is true, the text will be red, else green</div>

<br><br>
ngStyle<br>
Syntax:<br>
<!-- [ngStyle]="{'property':'value'}" -->

<div [ngStyle]="{'color': 'blue'}"> The Text Color has been set to blue <div>
<router-outlet></router-outlet>